
@{
    ViewBag.Title = "Report";
}

<div style="justify-content:center; align-content:center;align-items:center">
    <iframe class="text-center" style="margin:10px" width="1600" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiOWQ4ZDBhMTctYjNmYS00YTMzLTg0MDctYTZiZDBmZmQ3Nzg1IiwidCI6IjIyNjgyN2Q2LWE5ZDAtNDcwZC04YzE1LWIxNDZiMDE5MmQ1MSIsImMiOjh9&pageName=ReportSection614d6d9c3b8b41fc288f" frameborder="0" allowFullScreen="true"></iframe>
</div>
