@{
    ViewBag.Title = "About";
}

<div class="About_" style="background-color: ghostwhite; margin-left: 200px;margin-right:200px; margin-top: 30px; height: 450px; text-align: center; border-radius: 20px">
    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:900; font-size:x-large">WHO ARE WE?</p>
    <p style="padding: 20px">
        PCWizard is a company founded by two friends Femi Olatunji and Lindokuhle Msomi who are tech enthusiasts and also they are technicians.
        The company was launched recently and it is based mostly in Durban.
    </p>
    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:900; font-size:x-large">WHAT DO WE DO?</p>
    <p style="padding: 20px">
        We deal mainly
        with computer repairs (e.g., cell phones, printers, laptops,
        desktops, keyboards, monitors, software installations, software troubleshooting etc.),
        selling accessories (e.g., earphones, USB cables, HDMI cables, Aux cables, memory sticks,
        input devices, Screen protectors etc.) and selling new and second-hand computers at an affordable price.
    </p>
</div>
