@{
    ViewBag.Title = "Home Page";
}

<div class="UpdatesToUsers">
    Welcome to PC Wizard, we sell laptops at an affordable price. Enjoy!
</div>
<div class="saleAnimations" style="">
    SALE!!!!
</div>

<div class="Banner">
    <br>
    Keep Scrolling!!! And Check Out our new Stuff
</div>
